<html>
<head>
<style type="text/css">
			body {
     			background-color: #444444;
 			}
 			div {
 				color: #DDDDDD;
 				text-align: center;
 				padding-top: 15%;
 				margin-left: auto;
 				margin-right: auto;
 			}
		</style>
<script>
setTimeout(function(){
	window.location = '/';
}, 1000);
</script>
</head>
<body>
<div>
The file {{ name }} has been uploaded
</div>
</body>
</html>