<html>
	<head>
		<style type="text/css">
			body {
     			background-color: #444444;
 			}
 			p{
 				color: #DDDDDD;
 			}
 			.boot{
 				border: none;
                border-radius: 5px;
                padding: 9px;
                background-color: #379F54;
                color: white;
                font-size: 17;
 			}
 			.color{
 				color:white;
 				font-family: sans-serif;
 			}
 			.rect-outer {
                width: 300px;
                height: auto;
                border: 3px solid #379F54;
                padding: 30px;
                color: white;
                background-color: #444444;
                
            }
		</style>
    </head>
	<body>
		<h1 class="color">Shared Files:</h1>
		<br/>
		<form method='post' enctype='multipart/form-data'>
    		<input type='file' name='uploaded_file'>
    		<button class="boot">Upload File</button>
		</form>
		<br/>
		<br/>
		{% for name in files %}
		<div class="rect-outer">{{ name }} <a style="float: right" href="/delete/{{ name }}"><img src="/img/dl.png" /></a><a style="float: right" href="/downloads/{{ name }}" download><img src="/img/dn.png" /></a></div>
		{% endfor %}
	</body>
</html>