<html>
	<head>
		<style type="text/css">
			body {
     			background-color: #999999;
 			}
 			p{
 				color: #DDDDDD;
 			}
		</style>
    </head>
	<body>
		<p>Hello! {{ var }}</p>
		<br/>
		<form method='post' enctype='multipart/form-data'>
    		<input type='file' name='uploaded_file'>
    		<button>Upload Thing</button>
		</form>
	</body>
</html>